#section-title {
    text-align: center;
}

#section-title > h1 {
    margin-bottom: 0;
}

#section-title > p {
    margin: 0;
}

.section-list {
    width: 90%;
}

.section-list > h2 {
    text-align: center;
}

.section-list > ul > li {
    padding: 0.3rem;
}

@media only screen and (min-width:768px) {
    .section-list {
        width: 50%;
    }
}