header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    margin-bottom: 0;
}

#subtitulo {
    margin-top: 0;
    color: gray;
    display: none;
}

#login {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: right;
    align-items: center;
}

#login-link {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

#search-bar {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}