#search {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#search-main {
    display: flex;
    border: 1px solid black;
}

#search-button {
    all: unset;
    display: none;
    padding: 0.2rem;
    border-left: 1px solid black;
}

#search-button:focus {
    border: 2px solid black;
    margin: -2px;
}

#search-button:hover {
    background-color: black;
    color: white;
}

#search-input {
    border: 0 solid;
}

#search-input:focus {
    outline: none;
}

#search-type {
    border: 1px solid black;
    background-color: transparent;
}

#search-type:focus-visible {
    outline: none;
}

#search-type > option {
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    #search-type {
        display: none;
    }
}


@media only screen and (min-width: 768px) {

    /*for desktop*/

    #search {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #search-form {
        width: 100%;
    }

    #search-input {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {

    #search-button {
        display: block;
    }

}