#description {
    font-size: 1rem;
    text-align: center;
}

#search {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

@media only screen and (min-width: 768px) {

    /*for desktop*/

    #search {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #search-form {
        width: 100%;
    }

    #search-input {
        flex: 1;
    }

}