body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

button, input, select {
    font-size: 1.2rem;
}

.validationError {
    color: red;
}

.text-word-break {
    word-break: break-all;
    white-space: normal;
}

@media only screen and (min-width: 768px) {
    main {
        width: 60%;
    }
}