body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

button, input, select {
    font-size: 1.2rem;
}

.layout__core {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.validationError {
    color: red;
}

.text-word-break {
    white-space:pre-wrap;
    word-break:break-word;
}

.banner {
    border: 1px solid black;
    margin: 1rem 0.5rem;
}

.banner--mobile {
    width: 300px;
    height: 50px;
}

.banner--desktop {
    display: none;
    width: 160px;
    height: 600px;
}

@media only screen and (min-width: 768px) {
    main {
        width: 60%;
    }

    .banner--mobile {
        display: none;
    }

    .banner--desktop {
        display: inline-block;
    }

    .layout__core {
        flex-direction: row;
        align-items: flex-start;
    }
}