/* Dropdown Button and Option buttons */
.options-dropdown__button, .subject-review__option {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
}

.options-dropdown__button {
    justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.subject-review__options-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.subject-review__options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    right: 0;
    z-index: 2;
}

/* Buttons inside the dropdown */
.subject-review__option {
    color: black;
    padding: 12px 16px;
    width: 100%;
    gap: 0.2rem;
}

/* Change color of dropdown button on hover */
.subject-review__options button:hover {background-color: #ddd;}

/* Show the dropdown menu */
.show {display:block;}

/* Invisible background for capturing clicks outside the dropdown */
.options-dropdown__background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    max-height: 90vh;
    overflow-y: scroll;
    width: 90%;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-header--delete {
    background-color: red;
}

.modal-header--edit {
    background-color: blue;
}

.modal-header--report {
    background-color: black;
}

.modal-body {
    padding: 2px 16px;
}

#delete-insurance, #edit-insurance {
    width: 8rem;
}

.modal-footer {
    margin-left: auto;
    padding: 2px 16px;
    color: white;
}

.modal-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.subject-review__option:disabled {
    color: gray;
}

.subject-review__option:disabled > svg {
    fill: gray;
}

@media only screen and (min-width: 768px) {
    .modal-content {
        width: 40%;
    }
}
