.subject-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0 auto auto;
    border: 3px solid black;
    padding: 1rem;
    gap: 0.4rem;
}

.subject-review > hr {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
}

.vote-count {
    margin: 0;
    font-size: 2rem;
}

.review-content {
    grid-column: 1 / 3;
}

.review-vote {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vote-button {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

.vote-pressed-up {
    background-color: green;
    color: white;
}

.vote-pressed-down {
    background-color: red;
    color: white;
}

.review-recommendation {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.review-recommendation > p {
    padding: 0.2rem;
    color: white;
    font-weight: bold;
    margin: 0;
}

.review-neutral {
    background-color: dimgrey;
}

.review-recommended {
    background-color: green;
}

.review-not-recommended {
    background-color: red;
}

.subject-review--profile__subject-info {
    border: 3px solid black;
    border-bottom: 0;
    margin: 0;
}