#subject-reviews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#subject-info > p > a {
    color: black;
}

#subject-review-form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#subject-review-form > fieldset > label {
    width: 100%;
}

.review-content, .review-title {
    width: 100%;
    box-sizing: border-box;
}

.review-content {
    resize: none;
}