<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="header(query)">

        <div th:replace="~{fragments/logo :: logo}"></div>

        <div th:replace="~{fragments/search-bar :: search-bar(query=${q})}"></div>

        <div sec:authorize="isAuthenticated()" id="header-profile-picture">
            <a href="#">
                <img class="user-profile-picture"
                     style="height: 50px; width: 50px"
                     th:src="@{/images/{url}(url=${#authentication.principal.profilePictureURL})}" alt="">
            </a>
        </div>

        <div sec:authorize="isAnonymous()" id="login">
            <a id="login-link" th:href="@{/login}">Fazer Login</a>
        </div>

    </header>
</body>
</html>