<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <div th:fragment="profile-subject-review(review)">
        <a th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}/{professorNN}
            (campusAbbr=${review.subject.course.campus.abbreviation},
            courseNN=${review.subject.course.normalizedName},
            subjectAbbr=${review.subject.abbreviation},
            professorNN=${review.subject.professor.normalizedName})}"
            class="subject-review--profile__subject-info">
            Em <i th:text="${review.subject.name}"></i> com <i th:text="${review.subject.professor.name}"></i>
        </a>
        <div th:replace="~{fragments/subject-review :: subject-review(${review})}"></div>
    </div>

</body>
</html>