<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

  <div th:fragment="review-report(reviewReport)" class="reported-review">

    <div th:replace="~{fragments/profile-subject-review :: profile-subject-review(${reviewReport.subjectReview})}">
    </div>

    <div class="reported-review-info">

      <div>
        <span>Denunciado por:</span><br/>
        <span th:text="${reviewReport.accuser.username}"></span>
      </div>

      <div>
        <span>Motivo:</span><br/>
        <span th:text="${reviewReport.reason}"></span>
      </div>

      <div class="reported-review-buttons">

        <form class="admin-delete-review">
          <button type="submit">Deletar Review</button>
          <input type="hidden" name="reviewId" th:value="${reviewReport.subjectReview.id}">
        </form>

        <button>Punir Usuário</button>

        <form class="admin-archive-report">
          <button>Arquivar Denúncia</button>
          <input type="hidden" name="reportId" th:value="${reviewReport.id}">
        </form>

      </div>

    </div>
  </div>

</body>
</html>