<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="reviews-list-admin(reviewReports)">

        <p th:if="${reviewReports.isEmpty()}"><i>Nenhuma review requer análise no momento.</i></p>

        <div th:each="reviewReport: ${reviewReports}"
             th:insert="~{fragments/review-report :: review-report(${reviewReport})}"
             th:remove="tag"></div>

        <script th:src="@{/js/report-archive-request.js}"></script>
    </div>

</body>
</html>