<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="search-bar" id="search-bar">
        <form action="/busca" method="get" id="search-form">
            <div id="search">
                <select name="t" id="search-type">
                    <optgroup label="Tipo de pesquisa">
                        <option value="geral">Pesquisa geral</option>
                        <option value="nome-da-disciplina">Nome da Disciplina</option>
                        <option value="professor">Professor</option>
                        <option value="abreviacao-da-disciplina">Abreviação da Disciplina</option>
                        <option value="codigo-da-disciplina">Código da Disciplina</option>
                    </optgroup>
                </select>

                <div id="search-main">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.4rem" viewBox="0 -960 960 960" width="1.4rem" fill="#5f6368"><path d="M765-144 526-383q-30 22-65.79 34.5-35.79 12.5-76.18 12.5Q284-336 214-406t-70-170q0-100 70-170t170-70q100 0 170 70t70 170.03q0 40.39-12.5 76.18Q599-464 577-434l239 239-51 51ZM384-408q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Z"/></svg>
                    <input id="search-input" placeholder="Pesquisa" type="search" name="q" th:value="${query}">
                    <button id="search-button" type="submit">Buscar</button>
                </div>

                <input type="text" hidden name="p" value="0">
            </div>
        </form>
    </div>

</body>
</html>