<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="search-bar">
        <form action="/busca" method="get">
            <div id="search">
                <input type="text" name="q" th:value="${query}">

                <select name="t">
                    <option value="geral">Pesquisa geral</option>
                    <option value="nome-da-disciplina">Nome da Disciplina</option>
                    <option value="professor">Professor</option>
                    <option value="abreviacao-da-disciplina">Abreviação da Disciplina</option>
                    <option value="codigo-da-disciplina">Código da Disciplina</option>
                </select>

                <button type="submit">Buscar</button>
            </div>
        </form>

        <h2 id="description">Busque por uma disciplina ou um professor</h2>
    </div>

</body>
</html>