<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <form th:action="@{/api/v1/subject/{id}/reviews(id=${subject.id})}"
          th:object="${subjectReviewDTO}"
          method="post"
          id="subject-review-form"
          th:fragment="subject-review-post-form">

        <fieldset th:disabled="${!#authorization.expression('hasRole(''USER'')')}">
            <p style="color: red" sec:authorize="isAnonymous()">Apenas usuários logados podem postar reviews.</p>
            <legend>Contribua com sua própria review!</legend>
            <label>
                Título: <br/>
                <input id="subject-review-form__title-input" class="review-title" type="text" name="title" required>
                <span class="subject-review-form__character-counter">0/50</span>
            </label>
            <label>
                Conteúdo: <br/>
                <textarea id="subject-review-form__content-input" class="review-content" name="content" rows="10"
                            required></textarea>
                <span class="subject-review-form__character-counter">0/1000</span>
            </label>
            <label>
                Recomendação: <br/>
                <select name="recommendation" required>
                    <option value="" selected disabled>--- Escolha uma opção ---</option>
                    <option value="Recomendo">Recomendo</option>
                    <option value="Neutro">Neutro</option>
                    <option value="Não recomendo">Não recomendo</option>
                </select>
            </label>
            <input name="subjectId" type="text" hidden="hidden" th:value="${subject.id}">
            <button type="submit">Postar</button>
        </fieldset>

        <script th:src="@{/js/subject-review-post-form.js}"></script>

    </form>

</body>
</html>