<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div class="subject-review__options-dropdown" th:fragment="options-dropdown(reviewAuthor, reviewId)">
        <button class="options-dropdown__button" type="button" onclick="dropdown(this)" title="Opções">
            <svg fill="gray" height="2rem" width="2rem" class="options-dropdown__button-svg"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path class="cls-1" d="M8,6.5A1.5,1.5,0,1,1,6.5,8,1.5,1.5,0,0,1,8,6.5ZM.5,8A1.5,1.5,0,1,0,2,6.5,1.5,1.5,0,0,0,.5,8Zm12,0A1.5,1.5,0,1,0,14,6.5,1.5,1.5,0,0,0,12.5,8Z"/>
            </svg>
        </button>
        <div class="subject-review__options">
            <button class="subject-review__option" sec:authorize="isAuthenticated()"
                    th:if="${#authentication.principal.username.equals(reviewAuthor.username)}"
                    th:data-associated-review-id="${reviewId}">
                <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="1rem" fill="#5f6368"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                Editar
            </button>
            <button class="subject-review__option" th:disabled="${!#authorization.expression('hasRole(''USER'')')}"
                    th:data-associated-review-id="${reviewId}">
                <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="1rem" fill="#5f6368"><path d="M200-120v-680h360l16 80h224v400H520l-16-80H280v280h-80Zm300-440Zm86 160h134v-240H510l-16-80H280v240h290l16 80Z"/></svg>
                Denunciar
            </button>
            <button class="subject-review__option" sec:authorize="isAuthenticated()"
                    th:if="${#authentication.principal.username.equals(reviewAuthor.username)}"
                    th:data-associated-review-id="${reviewId}">
                <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="1rem" fill="#5f6368"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                Deletar
            </button>
        </div>
        <div class="options-dropdown__background">

        </div>
    </div>
</body>
</html>