<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
    <div class="subject-review" th:fragment="subject-review(review)">
        <div class="review-content">
            <h4 th:text="${review.title}"></h4>
            <p th:text="${review.content}"></p>
        </div>
        <hr/>
        <div class="reviewer-profile">
            <a href="#">
                <img class="reviewer-profile-picture" src="profile-picture.webp" alt="">
            </a>
            <div class="reviewer-info">
                <a href="#" class="reviewer-username">
                    <p th:text="${review.author.username}"></p>
                </a>
                <p>Reputação: +439</p>
            </div>
        </div>
        <div class="review-vote">
            <button class="vote-button">+</button>
            <p class="vote-count" th:text="${review.getTotalVotes()}"></p>
            <button class="vote-button">-</button>
        </div>
    </div>

</body>
</html>