<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="subject-card(subject)">
        <a th:href="@{/disciplina/{id}(id=${subject.id})}" class="subject-card">
            <p >
                <span th:text="${subject.relatedCourse}"></span>
                (<span th:text="${subject.relatedCampus.abbreviation}"></span>)
            </p>
            <div class="subject-main">
                <p><b th:text="${subject.abbreviation}"></b>
                    - <span th:text="${subject.name}"></span>
                </p>
                <p>por <i th:text="${subject.teacherName}"></i></p>
            </div>
            <p class="subject-code">Código da disciplina:<br>
                <span th:text="${subject.code}"></span>
            </p>
        </a>
    </div>

</body>
</html>