<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="subject-review-options-modal">
        <!-- The Delete Modal -->
        <div id="deleteReviewModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header modal-header--delete">
                    <span class="close">&times;</span>
                    <p class="modal-title">Deseja mesmo deletar essa review?</p>
                </div>
                <div class="modal-body">
                    <p>Digite "deletar" (sem as aspas) no campo abaixo e pressione <b>Confirmar</b> para deletar a review.</p>
                    <form id="deleteReviewModalForm" th:action="@{/api/v1/reviews}">
                        <input id="delete-insurance" type="text" name="insurance" placeholder="deletar" required
                               autocomplete="off">
                        <input type="hidden" id="deleteReviewId" name="reviewId" value="">
                        <button class="modal-cancel" type="button">Cancelar</button>
                        <button type="submit">Confirmar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="color: red; font-style: italic">Nota: essa ação não pode ser revertida!</p>
                </div>
            </div>

        </div>


        <!-- The Modal -->
        <div id="editReviewModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header modal-header--edit">
                    <span class="close">&times;</span>
                    <h2>Editar</h2>
                </div>
                <div class="modal-body">
                    <p style="color: red; font-style: italic">
                        Atenção! Editar sua review implicará nas seguintes consequências: <br/><br/>
                        - Remoção dos votos associados à review <br/>
                        - Atualização da data de postagem
                    </p>
                    <form id="editReviewModalForm" th:action="@{/api/v1/reviews}">
                        <label>
                            Título: <br/>
                            <input id="edit-review__title-input" class="review-title" type="text" name="title"
                                   required>
                            <span class="subject-review-form__character-counter">0/50</span>
                        </label>
                        <label>
                            Conteúdo: <br/>
                            <textarea id="edit-review__content-input" class="review-content" name="content"
                                      rows="10" required></textarea>
                            <span class="subject-review-form__character-counter">0/1000</span>
                        </label>
                        <label>
                            Recomendação: <br/>
                            <select name="recommendation" required id="edit-review__recommendation-input">
                                <option disabled>--- Escolha uma opção ---</option>
                                <option value="Recomendo">Recomendo</option>
                                <option value="Neutro">Neutro</option>
                                <option value="Não recomendo">Não recomendo</option>
                            </select>
                        </label>
                        <input type="hidden" id="editReviewId" name="reviewId" value="">
                        <div style="margin-top: 1rem">
                            <label>
                                Digite "editar" (sem as aspas) no campo abaixo e pressione <b>Confirmar</b> para
                                editar a review. <br/>
                                <input id="edit-insurance" name="insurance" type="text" placeholder="editar"
                                       required>
                            </label>
                            <button class="modal-cancel" type="button">Cancelar</button>
                            <button type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="color: red; font-style: italic">Nota: essa ação não pode ser revertida!</p>
                </div>
            </div>

        </div>

        <!-- The Report Modal -->
        <div id="reportReviewModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header modal-header--report">
                    <span class="close">&times;</span>
                    <p class="modal-title">Denunciar Review</p>
                </div>
                <div class="modal-body">
                    <form id="reportReviewModalForm" th:action="@{/api/v1/reviews}">
                        <label>
                            Motivo:
                            <select name="reason" required>
                                <option value="" selected disabled>-- Selecione --</option>
                                <option value="Desrespeito">Desrespeito</option>
                                <option value="Fora de contexto">Fora de contexto</option>
                                <option value="Spam">Spam</option>
                                <option value="Conteúdo falso">Conteúdo falso</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </label>
                        <input type="hidden" id="reportReviewId" name="reviewId" value="">
                        <div>
                            <button class="modal-cancel" type="button">Cancelar</button>
                            <button type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>
</html>