<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="user-profile" th:fragment="user-profile(user)">
        <a href="#">
            <img class="user-profile-picture" src="" alt="">
        </a>
        <div class="user-info">
            <a href="#" class="user-username">
                <p th:text="${user.username}"></p>
            </a>
            <p th:text="'Reputação: ' + ${user.getTotalVotes()}"></p>
        </div>
    </div>
</body>
</html>