<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{authenticationLayout :: authenticationLayout (~{:: main})}">
<body>
    <main>

        <h1>
            <a style="color: black; text-decoration: none" th:href="@{/admin}">Administração</a>
        </h1>

        <nav id="administration-tabs">
            <a th:href="@{/admin/reviews}" th:class="${tab == 'reviews' ? 'administration-tab-selected' :
            'administration-tab'}">
                Reviews denunciadas
            </a>
            <div style="border-left: 2px solid black; height: 2rem"></div>
            <a th:href="@{/admin/contatos}" th:class="${tab == 'contacts' ? 'administration-tab-selected' :
            'administration-tab'}">
                Tentativas de contato
            </a>
        </nav>

        <section th:if="${tab == 'reviews'}">
            <div th:replace="~{fragments/reviews-list-admin :: reviews-list-admin(${reviewReports})}"></div>
        </section>

    </main>
</body>
</html>