<!DOCTYPE html>
<html lang="pt-BR" th:fragment="authenticationLayout (content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title th:text="${title != null} ? ${title} + ' - Fórum da USP' : 'Fórum da USP'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/authentication.css}">
    <link rel="stylesheet" th:href="@{/logo.css}">
    <link rel="stylesheet" th:href="@{/authenticationLayout.css}">
    <link rel="stylesheet" th:href="@{/contact.css}">
    <link rel="stylesheet" th:href="@{/administration.css}">
    <link rel="stylesheet" th:href="@{/contact-attempt.css}">
    <link rel="stylesheet" th:href="@{/subject-review.css}">
    <link rel="stylesheet" th:href="@{/user-profile.css}">
    <link rel="stylesheet" th:href="@{/subject-review__options-dropdown.css}">
    <link rel="stylesheet" th:href="@{/review-report.css}">
</head>
<body>

    <div th:replace="~{fragments/logo :: logo}"></div>

    <hr id="authentication-logo-separator">

    <main th:replace="${content}"></main>

    <footer></footer>

    <script th:src="@{/js/password-visibility-toggle.js}"></script>

</body>
</html>