<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>
        <div th:replace="~{fragments/search-bar :: search-bar}"></div>

        <a href="#" class="materia-card">
            <div class="materia-main">
                <p class="materia-nome"><b>IAEC</b> - Introdução à Administração e Economia para Computação</p>
                <p class="materia-professor">por <i>Violeta Sun</i></p>
            </div>
            <p class="materia-codigo">Código da disciplina:<br> ACH2053</p>
        </a>
    </main>

</body>
</html>