<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>
    <main>
        <section id="section-title">
            <h1 th:text="${campus.name} + ' - ' + ${campus.abbreviation}"></h1>
            <p>Universidade de São Paulo</p>
            <hr>
        </section>

        <section class="section-list">
            <h2>Cursos oferecidos:</h2>
            <ul th:each="course : ${campus.courses}">
                <li>
                    <a th:href="@{/arquivo/{campusAbbr}/{courseNM}(campusAbbr=${campus.abbreviation}, courseNM=${course.normalizedName})}"
                       th:text="${course.name}"></a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>