<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{layout :: layout (~{:: main})}">
<body>
    <main>

        <section id="subject-collection-header-title">
            <h1>Provas, Trabalhos & Listas de <span th:text="${subject.abbreviation}"></span></h1>
            <h2 th:text="${subject.name + ' com ' + subject.professor.name}"></h2>
        </section>

        <h2 class="subject-collection-section-header"><i>Provas:</i></h2>
        <section class="subject-collection-files">
            <div th:each="file: ${subject.files}"
                 th:if="${file.type == 'Prova'}"
                 th:insert="~{fragments/subject-collection-file :: subject-collection-file(${file})}"
                 th:remove="tag"></div>
            <p th:if="${subject.files.isEmpty()}" style="text-align: center; font-style: italic">
                Não há provas dessa disciplina no banco de dados.
            </p>
        </section>

        <h2 class="subject-collection-section-header"><i>Trabalhos:</i></h2>
        <section class="subject-collection-files">
            <div th:each="file: ${subject.files}"
                 th:if="${file.type == 'Trabalho'}"
                 th:insert="~{fragments/subject-collection-file :: subject-collection-file(${file})}"
                 th:remove="tag"></div>
            <p th:if="${subject.files.isEmpty()}" style="text-align: center; font-style: italic">
                Não há trabalhos dessa disciplina no banco de dados.
            </p>
        </section>

        <h2 class="subject-collection-section-header"><i>Listas:</i></h2>
        <section class="subject-collection-files">
            <div th:each="file: ${subject.files}"
                 th:if="${file.type == 'Lista'}"
                 th:insert="~{fragments/subject-collection-file :: subject-collection-file(${file})}"
                 th:remove="tag"></div>
            <p th:if="${subject.files.isEmpty()}" style="text-align: center; font-style: italic">
                Não há listas dessa disciplina no banco de dados.
            </p>
        </section>

        <h3>Upload <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960"
                                width="1rem" fill="black"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56
                                    58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0
                                    33-23.5 56.5T720-160H240Z"/></svg>
        </h3>
        <form class="subject-collection-upload">
            <label id="subject-collection-upload-file-label" for="subject-collection-upload-file">
                Escolha um arquivo
                <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 -960 960 960"
                     width="2rem" fill="black"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56
                                    58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0
                                    33-23.5 56.5T720-160H240Z"/></svg>
            </label>
            <input type="file" accept=".pdf" name="" style="display: none" required
                   id="subject-collection-upload-file">
            
            <label>
                Tipo de arquivo:
                <select id="subject-file-upload-type" name="" required>
                    <option value="" selected disabled>-- Selecione --</option>
                    <option value="Prova">Prova</option>
                    <option value="Trabalho">Trabalho</option>
                    <option value="Lista">Lista</option>
                </select>
            </label>

            <label>
                Título do arquivo:
                <input type="text" id="subject-file-upload-title">
            </label>

            <button type="submit">Enviar</button>
        </form>

    </main>
</body>
</html>