<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{layout :: layout (~{:: main})}">
<body>
    <main>

        <section id="subject-collection-header-title">
            <h1>Provas, Trabalhos & Listas de <span th:text="${subject.getAbbreviation()}"></span></h1>
            <h2 th:text="${subject.getName() + ' com ' + subject.getProfessor().getName()}"></h2>
        </section>

        <section id="subject-collection-files">

            <div class="subject-collection-file">
                <div class="subject-collection-file-main">
                    <a href="#">P1 - Turma 04 (2024)</a>
                    <button class="subject-file-download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#5f6368"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg>
                    </button>
                </div>
                <span class="subject-collection-file-credit">Postado por test</span>
            </div>
            <div class="subject-collection-file">
                <div class="subject-collection-file-main">
                    <a href="#">P2 - Turma 04 (2024)</a>
                    <button class="subject-file-download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#5f6368"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg>
                    </button>
                </div>
                <span class="subject-collection-file-credit">Postado por test</span>
            </div>
            <div class="subject-collection-file">
                <div class="subject-collection-file-main">
                    <a href="#">Sub - Turma 04 (2024)</a>
                    <button class="subject-file-download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#5f6368"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg>
                    </button>
                </div>
                <span class="subject-collection-file-credit">Postado por 4133737163905494</span>
            </div>
            <div class="subject-collection-file">
                <div class="subject-collection-file-main">
                    <a href="#">Rec - Turma 04 (2024)</a>
                    <button class="subject-file-download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#5f6368"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg>
                    </button>
                </div>
                <span class="subject-collection-file-credit">Postado por 4133737163905494</span>
            </div>


            <div class="subject-collection-file">
                <div class="subject-collection-file-main">
                    <a href="#">Lista 1 - Turma 04 (2024)</a>
                    <button class="subject-file-download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#5f6368"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg>
                    </button>
                </div>
                <span class="subject-collection-file-credit">Postado por 4133737163905494</span>
            </div>
            <div class="subject-collection-file">
                <div class="subject-collection-file-main">
                    <a href="#">Trab - Jogo Espaconave - Turma 04 (2024)</a>
                    <button class="subject-file-download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 -960 960 960" width="1.5rem" fill="#5f6368"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg>
                    </button>
                </div>
                <span class="subject-collection-file-credit">Postado por 4133737163905494</span>
            </div>
        </section>

    </main>
</body>
</html>