<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{authenticationLayout :: authenticationLayout (~{:: main})}">
<body>
    <main>

        <h1>Contato</h1>

        <div th:if="${contactRegistered}">
            <p style="text-align: center">
                <i style="color: green">Tentativa de contato realizada com sucesso!</i> <br/>
                Analisaremos seu caso e retornaremos com uma resposta em breve.
            </p>
        </div>

        <form th:unless="${contactRegistered}"
              id="contact-form"
              method="POST"
              th:action="@{/contato}"
              th:object="${contactDTO}">
            <label>
                Assunto:
                <select name="assunto" required th:field="*{subjectMatter}">
                    <option value="" selected disabled>-- Selecione --</option>
                    <option value="bug">Reportar Bug</option>
                    <option value="melhoria">Sugestão de melhoria</option>
                    <option value="business">Proposta de negócio</option>
                    <option value="outro">Outro</option>
                </select>
            </label>

            <label>
                Texto:
                <textarea rows="5" required th:field="*{content}"></textarea>
            </label>

            <button type="submit">Enviar</button>
        </form>

    </main>
</body>
</html>