<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{authenticationLayout :: authenticationLayout (~{:: main})}">
<body>
    <main>

        <h1>Contato</h1>

        <div th:unless="${canContact}">
            <p style="text-align: center">
                <i style="color: green">Tentativa de contato realizada com sucesso!</i> <br/>
                Analisaremos seu caso e retornaremos com uma resposta em breve. <br/>
                <span style="color: gray">A opção de contato estará disponível novamente em 24 horas.</span>
            </p>
        </div>

        <form th:if="${canContact}"
              id="contact-form"
              method="POST"
              th:action="@{/contato}"
              th:object="${contactDTO}">
            <label>
                Assunto:
                <select name="subjectMatter" required>
                    <option value="" selected disabled>-- Selecione --</option>
                    <option value="Reportar Bug">Reportar Bug</option>
                    <option value="Sugestão de melhoria">Sugestão de melhoria</option>
                    <option value="Proposta de negócio">Proposta de negócio</option>
                    <option value="Outro">Outro</option>
                </select>
            </label>

            <label>
                Texto:
                <textarea style="resize: none" rows="5" required th:field="*{content}"></textarea>
            </label>

            <button type="submit">Enviar</button>
        </form>

        <section class="contact-attempts">
            <h2 style="text-align: center; font-style: italic">
                Tentativas de contato anteriores:
            </h2>

            <div th:if="${contactAttempts != null}">
                <p th:if="${contactAttempts.isEmpty()}">
                    Nenhuma tentativa de contato foi efetuada até o momento.
                </p>
            </div>

            <div th:each="contact: ${contactAttempts}"
                 th:insert="~{fragments/contact-attempt :: contact-attempt(${contact})}"
                 th:remove="tag"></div>
        </section>

    </main>
</body>
</html>