<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${course.name} + ' (' + ${course.campus.abbreviation} + ')'"></h1>

    <ul th:each="subject : ${course.subjects}">
        <li>
            <a th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}
            (campusAbbr=${course.campus.abbreviation}, courseNN=${course.normalizedName},
            subjectAbbr=${subject.abbreviation})}"
               th:text="${subject.name}"></a>
        </li>
    </ul>
</body>
</html>