<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>
    <main>
        <div id="section-title">
            <h1 th:text="${course.name} + ' (' + ${course.campus.abbreviation} + ')'"></h1>
            <p th:text="${course.campus.name}"></p>
            <hr>
        </div>

        <div id="course-grade-curricular">
            <h2>
                <i>Grade curricular:</i>
            </h2>
            <img id="course-grade-curricular-image"
                 th:src="@{/images/{url}(url=${course.gradePictureUrl})}"
                 th:alt="'Grade curricular ' + ${course.name}">
        </div>

        <div class="section-list">
            <h2>
                <i>Disciplinas do curso:</i>
            </h2>
            <ul th:each="subject : ${course.subjects}">
                <li>
                    <a th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}
                (campusAbbr=${course.campus.abbreviation}, courseNN=${course.normalizedName},
                subjectAbbr=${subject.abbreviation})}"
                       th:text="${subject.name}"></a>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>