<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>

        <div th:if="${message}">
            <p th:text="${message}"></p>
        </div>

        <form action="#" th:action="@{/criar}" th:object="${subject}" method="post">
            <fieldset>
                <legend>Criação de disciplina</legend>
                <p>
                    <label>
                        Nome: <br/>
                        <input type="text" th:field="*{name}">
                    </label>
                </p>

                <p>
                    <label>
                        Abreviação: <br/>
                        <input type="text" th:field="*{abbreviation}">
                    </label>
                </p>

                <p>
                    <label>
                        Código: <br/>
                        <input type="text" th:field="*{code}">
                    </label>
                </p>

                <p>
                    <label>
                        Curso: <br/>
                        <input type="text" th:field="*{relatedCourse}">
                    </label>
                </p>

                <p>
                    <label>
                        Campus: <br/>
                        <select id="campi" th:field="*{relatedCampus}">
                            <option value="Butantã">Butantã</option>
                            <option value="EACH">EACH</option>
                            <option value="Bauru">Bauru</option>
                            <option value="Ribeirão Preto">Ribeirão Preto</option>
                            <option value="São Carlos">São Carlos</option>
                            <option value="Piracicaba">Piracicaba</option>
                            <option value="Pirassununga">Pirassununga</option>
                            <option value="Lorena">Lorena</option>
                        </select>
                    </label>
                </p>

                <p>
                    <label>
                        Professor: <br/>
                        <input type="text" name="professor" th:field="*{teacherName}">
                    </label>
                </p>


                <button type="submit">Criar</button>
            </fieldset>
        </form>
    </main>

</body>
</html>