<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>

        <div th:if="${message}">
            <p th:text="${message}"></p>
        </div>

        <form action="#" th:action="@{/criar}" th:object="${subject}" method="post">
            <p>
                Nome da matéria:
                <input type="text" th:field="*{name}">
            </p>

            <p>
                Abreviação da matéria:
                <input type="text" th:field="*{abbreviation}">
            </p>

            <p>
                Código da matéria:
                <input type="text" th:field="*{code}">
            </p>

            <p>
                Curso da matéria:
                <input type="text" th:field="*{relatedCourse}">
            </p>

            <p>
                Professor da matéria:
                <input type="text" name="professor" th:field="*{teacherName}">
            </p>


            <button type="submit">Criar</button>
        </form>
    </main>

</body>
</html>