<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Fórum da USP</title>
</head>
<body>

    <h1>Fórum da USP</h1>
    <p id="subtitulo">Criado por sistemáticos da informática</p>

    <main>
        <form action="/busca" method="get">
            <div id="busca">
                <input type="text" name="query">
                <button type="submit">Buscar</button>
            </div>
        </form>

        <h2>Busque por uma matéria ou um professor</h2>
    </main>

</body>
</html>