<!DOCTYPE html>
<html lang="pt-BR" th:fragment="layout (content)"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fórum da USP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/subject-card.css}">
    <link rel="stylesheet" th:href="@{/search-bar.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
</head>
<body>
    <header>
        <div id="logo">
            <h1>
                Fórum <br>
                da <span id="usp">USP</span>
            </h1>
            <p id="subtitulo">Criado por sistemáticos da informática</p>
        </div>

        <div th:replace="~{fragments/search-bar :: search-bar(query=${q})}"></div>

        <div id="login">
            <a id="login-link" th:href="@{/login}">Fazer Login</a>
        </div>
    </header>

    <main th:insert="${content}"></main>

    <footer></footer>
</body>
</html>