<!DOCTYPE html>
<html lang="pt-BR" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title th:text="${title != null} ? ${title} + ' - Fórum da USP' : 'Fórum da USP'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/subject-card.css}">
    <link rel="stylesheet" th:href="@{/search-bar.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/subject-review.css}">
    <link rel="stylesheet" th:href="@{/subject.css}">
    <link rel="stylesheet" th:href="@{/user-profile.css}">
    <link rel="stylesheet" th:href="@{/logo.css}">
    <link rel="stylesheet" th:href="@{/course.css}">
    <link rel="stylesheet" th:href="@{/archive.css}">
    <link rel="stylesheet" th:href="@{/profile.css}">
    <link rel="stylesheet" th:href="@{/search.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/subject-review__options-dropdown.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header(query=${q})}"></div>

    <div class="layout__core">
        <img class="banner banner--mobile" src="" alt="">
        <img class="banner banner--desktop" style="float: left" src="" alt="">

        <main th:replace="${content}"></main>

        <img class="banner banner--mobile" src="" alt="">
        <img class="banner banner--desktop" src="" alt="">
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>