<!DOCTYPE html>
<html lang="pt-BR" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fórum da USP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/subject-card.css}">
    <link rel="stylesheet" th:href="@{/search-bar.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/subject-review.css}">
    <link rel="stylesheet" th:href="@{/subject.css}">
    <link rel="stylesheet" th:href="@{/user-profile.css}">
</head>
<body>

    <div th:replace="~{fragments/header :: header(query=${q})}"></div>


    <main th:insert="${content}"></main>

    <footer></footer>
</body>
</html>