<!DOCTYPE html>
<html th:replace="~{authenticationLayout :: authenticationLayout (~{:: main})}">
<body>
    <main>
        <h1>Login</h1>

        <div th:if="${param.error}" style="color: red">
            Nome de usuário, Email e/ou senha inválido(s).
        </div>

        <div th:if="${param.logout}" style="color: green">
            Logout realizado com sucesso.
        </div>

        <form th:action="@{/login}" method="post" id="authentication-form">
            <label>
                Nome de usuário ou Email: <br/>
                <input type="text" name="username" placeholder="Nome de usuário ou Email"/>
            </label>
            <label>
                Senha: <br/>
                <input type="password" name="password" placeholder="Senha"/>
            </label>
            <input type="submit" value="Fazer login" />
            <a th:href="@{/registrar}">Não tem uma conta? Registre-se!</a>
        </form>
    </main>
</body>
</html>