<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Fórum da USP</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
    <h1>Login</h1>

    <div th:if="${param.error}">
        Nome de usuário e/ou senha inválido(s).
    </div>

    <div th:if="${param.logout}">
        Logout realizado com sucesso.
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <label>
                Nome de usuário: <br/>
                <input type="text" name="username" placeholder="Nome de usuário"/>
            </label>
        </div>
        <div>
            <label>
                Senha: <br/>
                <input type="password" name="password" placeholder="Senha"/>
            </label>
        </div>
        <input type="submit" value="Fazer login" />
        <a th:href="@{/registrar}">Não tem uma conta? Registre-se!</a>
    </form>
</body>
</html>