<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>
    <main>
        <section id="profile-main">
            <img class="user-profile-picture"
                 style="height: 150px; width: 150px"
                 th:src="@{/images/{url}(url=${profile.profilePictureURL})}"
                 th:alt="'Foto de perfil de ' + ${profile.username}">

            <div>
                <h1 th:text="${profile.username}"></h1>
                <p th:text="'Reputação: ' + ${profile.getRep()}"></p>
            </div>
        </section>

        <hr id="profile-separator">

        <section id="profile-contributions">
            <h2>Contribuições de <i th:text="${profile.username}"></i>:</h2>
            <div th:each="review: ${profile.subjectReviews}" th:insert="~{fragments/profile-subject-review :: profile-subject-review(${review})}" th:remove="tag"></div>
            <p th:if="${profile.subjectReviews.isEmpty()}" style="text-align: center; font-style: italic">Este usuário ainda não possui contribuições.</p>
        </section>

        <script th:src="@{/js/subject-review-vote.js}"></script>
    </main>
</body>
</html>