<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Registrar-se:</h1>

    <form method="POST" th:action="@{/registrar}" id="registerFormDTO">
        <label for="email">Email: </label>
        <input type="email" name="email"/><br/>
        <label for="username">Username: </label>
        <input type="text" name="username"/><br/>
        <label for="password">Password: </label>
        <input type="password" name="password"/><br/>
        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm"/><br/>

        <input type="submit" value="Registrar"/>
    </form>
</body>
</html>