<!DOCTYPE html>
<html th:replace="~{authenticationLayout :: authenticationLayout (~{:: main})}">
<body>
    <main>
        <h1>Registrar-se:</h1>

        <form method="POST" th:action="@{/registrar}" th:object="${registerFormDTO}" id="authentication-form">
            <label>
                Email: <br/>
                <input type="email" name="email">
            </label>

            <label>
                Nome de usuário: <br/>
                <input type="text" name="username">
            </label>

            <label>
                Campus (abreviação): <br/>
                <select id="campi" th:field="*{campusAbbr}">
                    <option th:each="campus: ${campi}"
                            th:value="${campus.abbreviation}"
                            th:text="${campus.abbreviation}">
                    </option>
                </select>
            </label>

            <label>
                Senha: <br/>
                <input type="password" name="password">
            </label>

            <label>
                Confirme a senha: <br/>
                <input type="password" name="confirm">
            </label>

            <input type="submit" value="Registrar"/>

            <a th:href="@{/login}">Já possui uma conta? Faça login!</a>
        </form>
    </main>
</body>
</html>