<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>
        <div th:replace="~{fragments/search-bar :: search-bar(query=${q})}"></div>

        <p th:text="${message}"></p>

        <p th:if="${#lists.isEmpty(results)}">
            Parece que no momento não temos a disciplina que você procura :/
            <br>
            Contribua <a href="/criar">adicionando suas próprias disciplinas!</a>
        </p>

        <div th:each="subject: ${results}" th:insert="~{fragments/subject-card :: subject-card(${subject})}" th:remove="tag">

        </div>
    </main>

</body>
</html>