<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>
        <p th:text="${message}"></p>

        <p th:if="${#lists.isEmpty(results.getContent())}">
            Parece que no momento não temos a disciplina que você procura :/
            <br>
            Contribua <a href="/criar">adicionando suas próprias disciplinas!</a>
        </p>

        <div th:each="subject: ${results.getContent()}" th:insert="~{fragments/subject-card :: subject-card(${subject})}" th:remove="tag">
        </div>

        <nav class="search-result-navigation">
            <a th:href="@{/busca(t=${searchType}, q=${q}, p=${currentPage - 1})}" th:hidden="${!results.hasPrevious()}">< Anterior</a>
            <span th:if="${!#lists.isEmpty(results.getContent())}" th:text="'Página ' + ${currentPage + 1} + ' de ' + ${results.getTotalPages()}"></span>
            <a th:href="@{/busca(t=${searchType}, q=${q}, p=${currentPage + 1})}" th:hidden="${!results.hasNext()}">Próximo ></a>
        </nav>
    </main>

</body>
</html>