<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>
        <p th:text="${message}"></p>

        <p th:if="${#lists.isEmpty(results.getContent())}">
            Parece que no momento não temos a disciplina que você procura :/
            <br>
            Contribua <a href="/criar">adicionando suas próprias disciplinas!</a>
        </p>

        <div th:each="subject: ${results.getContent()}" th:insert="~{fragments/subject-card :: subject-card(${subject})}" th:remove="tag">
        </div>

        <nav class="search-result-navigation">
            <button>< Anterior</button>
            <span th:text="'Página 30 de ' + ${results.getTotalPages()}"></span>
            <button>Próximo ></button>
        </nav>
    </main>

</body>
</html>