<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>
        <div id="subject-info">
            <h1 th:text="${subject.name}"></h1>
            <p th:text="${subject.abbreviation}"></p>
            <p th:text="${subject.code}"></p>
            <p th:text="${subject.course.name} + ' (' + ${subject.course.campus.abbreviation} + ')'"></p>
            <p th:text="${subject.professor.name}"></p>
        </div>

        <div id="subject-reviews">
            <h3>Reviews:</h3>

            <form th:action="@{postar/{id}(id=${subject.id})}"
                  th:object="${subjectReviewDTO}"
                  method="post"
                  id="subject-review-form">
                <fieldset>
                    <legend>Contribua com sua própria review!</legend>
                    <label>
                        Título: <br/>
                        <input id="review-title" type="text" name="title">
                    </label>
                    <label>
                        Conteúdo: <br/>
                        <textarea id="review-content" name="content" rows="4"></textarea>
                    </label>
                    <button type="submit">Postar</button>
                </fieldset>
            </form>

            <div th:each="review: ${subject.reviews}" th:insert="~{fragments/subject-review :: subject-review(${review})}" th:remove="tag"></div>

            <script th:src="@{/js/subject-review.js}"></script>
        </div>
    </main>

</body>
</html>