<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <main>
        <div id="subject-info">
            <h1 th:text="${subject.name}"></h1>
            <p th:text="'Abreviação: ' + ${subject.abbreviation}"></p>
            <p>
                Código: <a th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}
                (campusAbbr=${subject.course.campus.abbreviation}, courseNN=${subject.course.normalizedName},
                subjectAbbr=${subject.abbreviation})}"
                           th:text="${subject.code}"></a>
            </p>
            <p>
                Curso: <a th:href="@{/arquivo/{campusAbbr}/{courseNN}(campusAbbr=${subject.course.campus.abbreviation},
            courseNN=${subject.course.normalizedName})}"
                   th:text="${subject.course.name} + ' (' + ${subject.course.campus.abbreviation} + ')'"></a>
            </p>
            <p>
                Professor(a): <a th:href="@{/arquivo/{campusAbbr}/docentes/{professorNN}
            (campusAbbr=${subject.course.campus.abbreviation}, professorNN=${subject.professor.normalizedName})}"
            th:text="${subject.professor.name}"></a>
            </p>
            <p style="display: flex;">
                <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 -960 960 960" width="1rem" fill="blueviolet"><path d="M216-96q-29.7 0-50.85-21.15Q144-138.3 144-168v-412q-21-8-34.5-26.5T96-648v-144q0-29.7 21.15-50.85Q138.3-864 168-864h624q29.7 0 50.85 21.15Q864-821.7 864-792v144q0 23-13.5 41.5T816-580v411.86Q816-138 794.85-117T744-96H216Zm0-480v408h528v-408H216Zm-48-72h624v-144H168v144Zm216 240h192v-72H384v72Zm96 36Z"/></svg>
                <a style="color: blueviolet;"
                   th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}/{professorNN}/acervo
            (campusAbbr=${subject.course.campus.abbreviation}, courseNN=${subject.course.normalizedName},
            subjectAbbr=${subject.abbreviation}, professorNN=${subject.professor.normalizedName})}">
                    Acessar Provas, Trabalhos & Listas
                </a>
            </p>
        </div>

        <div id="subject-reviews">
            <div id="subject-reviews-header">
                <h3 th:text="${'Reviews ' + '(' + #lists.size(sortedReviews) + ')'}"></h3>
                <label>
                    <select name="filter" id="subject-reviews-filter">
                        <option value="votos">Mais votados</option>
                        <option th:selected="${sort == 'recentes'}" value="recentes">Mais recentes</option>
                    </select>
                </label>
            </div>

            <div th:each="review: ${sortedReviews}" th:insert="~{fragments/subject-review :: subject-review(${review})}" th:remove="tag"></div>
            <p th:if="${subject.reviews.isEmpty()}" style="text-align: center; font-style: italic">Parece que ainda não há reviews para essa disciplina :/</p>

            <div sec:authorize="isAuthenticated()" th:if="${subject.isAlreadyReviewed(#authentication.principal) == false}">
                <div th:replace="~{fragments/subject-review-post-form :: subject-review-post-form}"></div>
            </div>
            <div sec:authorize="isAnonymous()">
                <div th:replace="~{fragments/subject-review-post-form :: subject-review-post-form}"></div>
            </div>

            <div th:replace="~{fragments/subject-review-options-modal :: subject-review-options-modal}"></div>

        </div>
        <script th:src="@{/js/subject-review-char-counter.js}"></script>
        <script th:src="@{/js/subject-review-sorting.js}"></script>
        <script th:src="@{/js/subject-review-vote.js}"></script>
        <script th:src="@{/js/subject-review-delete-request.js}"></script>
        <script th:src="@{/js/subject-review__options-dropdown.js}"></script>
    </main>

</body>
</html>