<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>

    <main>
        <div id="subject-info">
            <h2 th:text="${subject.name}"></h2>
            <p th:text="${subject.abbreviation}"></p>
            <p th:text="${subject.code}"></p>
            <p th:text="${subject.relatedCourse} + ' (' + ${subject.relatedCampus.abbreviation} + ')'"></p>
            <p th:text="${subject.professor.name}"></p>
        </div>

        <div id="subject-reviews">
            <h3>Reviews:</h3>
            <div th:each="review: ${subject.reviews}" th:insert="~{fragments/subject-review :: subject-review(${review})}" th:remove="tag"></div>
        </div>
    </main>

</body>
</html>