<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{:: main})}">
<body>
    <main>
        <ul th:each="subject : ${subjects}">
            <li>
                <a th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}/{professorNN}
            (campusAbbr=${subject.course.campus.abbreviation},
            courseNN=${subject.course.normalizedName},
            subjectAbbr=${subject.abbreviation},
            professorNN=${subject.professor.normalizedName})}"
                   th:text="${subject.professor.name}"></a>
            </li>
        </ul>
    </main>
</body>
</html>