<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul th:each="subject : ${subjects}">
        <li>
            <a th:href="@{/arquivo/{campusAbbr}/{courseNN}/{subjectAbbr}/{professorNN}
            (campusAbbr=${subject.course.campus.abbreviation},
            courseNN=${subject.course.normalizedName},
            subjectAbbr=${subject.abbreviation},
            professorNN=${subject.professor.normalizedName})}"
               th:text="${subject.professor.name}"></a>
        </li>
    </ul>
</body>
</html>